In [1]:
#Dependencies
import pandas as pd

In [3]:
#Extracting Files (Kdrama)
kdrama_file = "./Data/imdb.csv"
kdrama_df = pd.read_csv(kdrama_file)
kdrama_df.head()

,kdrama_name,imdb_rating,imdb_users,imdb_description
0,100 Days My Prince,7.7,"2,188","Upon losing his memory, a crown prince encount..."
1,12 Years Promise,7.3,181,A pregnant teen is forced by her family to lea...
2,18 Again,8.2,"1,847",A 37-year-old man on the verge of being divorc...
3,365: Repeat the Year,8.0,656,A story where ten people get the chance to go ...
4,7th Grade Civil Servant,6.3,145,A romantic comedy about a spy couple who hides...

In [4]:
#Extracting Files (Webtoon)
webtoon_file = "./Data/Webtoon Dataset.csv"
webtoon_df = pd.read_csv(webtoon_file)
webtoon_df.head()

,id,Name,Writer,Likes,Genre,Rating,Subscribers,Summary,Update,Reading Link
0,0,Let's Play,Leeanne M. Krecic (Mongie),30.6M,Romance,9.62,4.2M,"She's young, single and about to achieve her d...",UP EVERY TUESDAY,https://www.webtoons.com/en/romance/letsplay/l...
1,1,True Beauty,Yaongyi,39.9M,Romance,9.60,6.4M,"After binge-watching beauty videos online, a s...",UP EVERY WEDNESDAY,https://www.webtoons.com/en/romance/truebeauty...
2,2,Midnight Poppy Land,Lilydusk,10.4M,Romance,9.81,2.1M,After making a grisly discovery in the country...,UP EVERY SATURDAY,https://www.webtoons.com/en/romance/midnight-p...
3,3,Age Matters,Enjelicious,25.9M,Romance,9.79,3.5M,She's a hopeless romantic who's turning 30's ...,UP EVERY WEDNESDAY,https://www.webtoons.com/en/romance/age-matter...
4,4,Unholy Blood,Lina Im / Jeonghyeon Kim,9.9M,Supernatural,9.85,1.5M,When vampires destroy her chance to have the n...,UP EVERY THURSDAY,https://www.webtoons.com/en/supernatural/unhol...

In [11]:
#Cleaning Files (kdrama)
cleaned_kdrama_df = kdrama_df[["kdrama_name", "imdb_rating"]].copy()
cleaned_kdrama_df.sort_values(by=['imdb_rating'], inplace=True, ascending=False)
cleaned_kdrama_df.head()

                    kdrama_name  imdb_rating
244         If You Wish Upon Me          9.5
452                  Reply 1988          9.2
518                     Standby          9.2
158  Extraordinary Attorney Woo          9.1
373                   My Mister          9.1

In [27]:
#Cleaning Files (webtoon)
cleaned_webtoon_df = webtoon_df[["Name", "Rating", "Genre"]].copy()
cleaned_webtoon_df.sort_values(by=['Rating'], inplace=True, ascending=False)
cleaned_webtoon_df.head()

                  Name  Rating    Genre
195            Eleceed    9.93   Action
93         Your Letter    9.93    Drama
130     Spirit Fingers    9.91    Drama
24     Purple Hyacinth    9.91  Mystery
187  Omniscient Reader    9.90   Action

In [13]:
#Genres
kdrama_genre_file = "./Data/genres.csv"
kdrama_genre_file_df = pd.read_csv(kdrama_genre_file)
kdrama_genre_file_df.head()

          kdrama_name       genre
0  100 Days My Prince  historical
1  100 Days My Prince      comedy
2  100 Days My Prince     romance
3  100 Days My Prince       drama
4    12 Signs of Love      comedy

In [24]:
inner_join_df= pd.merge(cleaned_kdrama_df, kdrama_genre_file_df, on='kdrama_name', how='inner')
inner_join_df_above_8 = inner_join_df[inner_join_df['imdb_rating'] > 8] 
inner_join_df_above_8

             kdrama_name  imdb_rating      genre
0    If You Wish Upon Me          9.5       life
1    If You Wish Upon Me          9.5      drama
2    If You Wish Upon Me          9.5    medical
3             Reply 1988          9.2     comedy
4             Reply 1988          9.2    romance
..                   ...          ...        ...
414               Circle          8.1      scifi
415       Heartless City          8.1     action
416       Heartless City          8.1   thriller
417       Heartless City          8.1    romance
418       Heartless City          8.1      crime

[419 rows x 3 columns]

In [29]:
inner_join_df_above_8.value_counts("genre")

genre
 drama            66
 romance          52
 life             23
 comedy           22
 melodrama        21
romance           21
 mystery          20
comedy            18
thriller          18
action            17
 family           15
 political        12
historical        11
 fantasy           9
 crime             9
 historical        8
 law               7
business           7
 thriller          6
 medical           6
 psychological     5
mystery            5
 sitcom            5
 scifi             5
psychological      5
 youth             4
life               4
drama              3
law                2
military           2
 sports            2
friendship         2
 supernatural      2
horror             1
music              1
 military          1
 horror            1
 business          1
dtype: int64

In [28]:
cleaned_webtoon_df_above_8 = cleaned_webtoon_df[cleaned_webtoon_df["Rating"] > 8]
cleaned_webtoon_df_above_8.value_counts("Genre")

Genre
Fantasy          95
Romance          89
Drama            59
Comedy           48
Action           47
Slice of life    46
Thriller         34
Sci-fi           32
Supernatural     31
Superhero        21
Horror           20
Mystery           9
Sports            9
Informative       5
Historical        4
Heartwarming      2
dtype: int64